.samples-index {
  margin: 25px 45px;
}

.samples-index > h2 {
  margin: 25px 0px 20px 0px;
  font-family: 'Helvetica', sans-serif;
  font-size: 30px;
}

/*.samples-index div.table-responsive > table > thead > tr:nth-child(2) > th:nth-child(-n+3) {
  display: none;
}*/
